.container,.heads{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}    
.row{
    width: 100%;
    border: 1vh solid black;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit:fill;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }